@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,900);

/* Styles for the Google map */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	}
#map {
	height: 300px;
}

body {
	background: url('/assets/symphony.png');
	font-family: 'quicksandregular', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar.navbar-inverse {
	background: url('/assets/congruent_outline.png');
  opacity: .9;
	border-radius: 0;
	box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom: 0;
}

/*  ESTUDIO Logo in top navbar  */
.navbar-inverse .navbar-brand {
	color: #d34943;
	font-family: 'playfair_displayregular', serif;
	font-size: 2em;
	margin-top: 5px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  border-radius: 3px;
  background: #fff;
  background-color: rgba(255,255,255,.8);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.booyah-box h1 a,
.booyah-box h1 a:hover,
br + a,
br + a:hover,
.text-center a,
.text-center a:hover {
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.pagination,
.pagination a {
	color: #333;
}

.field_with_errors {
	color: #ff3333;
	background-color: #ffeeee;
	border-radius: 3px;
	padding: 8px;
}

/* styles for the place comments */
blockquote {
  background: #f9f9f9;
  background-color: rgba(249,249,249,.8);
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* carousel styles */
.carousel {
  box-shadow: 0 3px 8px #2a2a2a;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  /* kept default bootstrap styles
  height: auto;
  min-width: 100%
  */
}

.carousel-caption {
  font-family: 'quicksandregular', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight:100;
  text-shadow: rgba(0,0,0,0.95) 2px 2px;
  background-color: rgba(0,0,0,.3);
  width:100%;
  position: absolute;
  left: 0;
}


