@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,900);

body {
	background: url('/assets/symphony.png');
	font-family: 'quicksandregular', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar.navbar-inverse {
	background: url('/assets/congruent_outline.png');
	border-radius: 0;
	box-shadow: 0px 1px 3px #2a2a2a;
}

/*  ESTUDIO Logo in top navbar  */
.navbar-inverse .navbar-brand {
	color: #d34943;
	font-family: 'playfair_displayregular', serif;
	font-size: 2em;
	margin-top: 5px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  border-radius: 3px;
  background: #fff;
  background-color: rgba(255,255,255,.8);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.booyah-box h1 a,
.booyah-box h1 a:hover,
br + a,
br + a:hover {
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.pagination,
.pagination a {
	color: #333;
}

